{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>CCEC RCT Registry</title>
{% endblock title %}

{% block content %}
<div class="container">
<div>
  </br>
  {% if messages %}
    {% for message in messages %}
      {% if 'Success' in message.message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h1>{{ message }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  
  <h1>{{ welcome_text }}</h1>
</div>

<form method="POST">
  {% csrf_token %}
  {{ patient_form|crispy }}
  <button type="submit" name="addpatient" class="btn btn-primary">Screen Patient</button>
</form>

{% endblock content %}
